<!DOCTYPE html>
<html>
	<head>
        <!-- head definitions go here -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<style>
	#mytime {
		text-decoration: underline purple;
	}
	#bestcolor {
		color: purple;
	}
	</style>
	</head>
	<!--style="background-image: url('{{img_url}}/bully.gif')"-->
	<body>
		<script>
			setInterval( function(){ $('#mytime').html( "Your Time is " + new Date());}, 0);
			setInterval( function(){ $('#mewithhomework').html( "^ This is a visual representation of what is going on in my head when I work on homework");}, 1500);
			setInterval( function(){ $('#whyunderline').html( "You might be asking yourself, \"Why is the time underlined in purple?\"");}, 5000);
			setInterval( function(){ $('#bestcolor').html( "The answer is quite simple. Purple is the best color :)");}, 8000);
			setInterval( function(){ $('#rating');}, 11000);
			
		</script>
		<h1 id="mytime"></h1>
		<img src="https://c.tenor.com/-kZOB16tELEAAAAC/this-is-fine-fire.gif" alt="funny GIF" width="50%">
		<h2 id="mewithhomework"</h2>
		<h3 id="whyunderline"></h3>
		<h3 id="bestcolor"></h3>
		<label for="rating">On a scale of 1-10, how happy did this make you?: </label>
		<select name="rating" id="rating">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
		</select>
	</body>
</html>
